// utilities
$colorPrimary: rgba(203, 0, 222, 0.961);
$colorSecondary: rgba(83, 0, 91, 0.961);
$colorPrimary: rgba(203, 0, 222, 0.961);
$darkColorPrimary: rgba(83, 0, 91, 0.961);


* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: $caviarDream;
    // @include most-outer-selector('.bold') {
    //   font-weight: bold;
    // }
}


.block__border-dashed {
    border: 2px solid rebeccapurple;
    border-style: dashed;
}

.block__border-hide {
    border: 0px;
}

.block__border-show {
    border: 2px;
}

.block__border-graylight {
    border: 1px solid lightgray;
}

// start modifiers for borders
@mixin content-center {
    &--center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@mixin border-dashed {
    &--dashed{
        border: 2px solid $colorPrimary;
        border-style: dashed
    }
}

*[border-dashed="true"] {
    border: 2px solid $colorPrimary;
    @include border-dashed();
}

@mixin dark-theme {
    &--dark {
        // styles for .block--modifier
        background-color: $darkColorPrimary;
        color: $fontDescriptionDarkColor
    }
}

@mixin themes--colors {
    *{
        &[class*="--dark"]{
            background-color: $darkColorPrimary;
            color: $fontDescriptionDarkColor
        }
    }
}
// end modifiers for borders



.nav-header__dropdown-right{
    right: 0px;
    left: auto;
}