@font-face {
  font-family: CaviarDream;
  src: url(../assets/fonts/caviar_dreams/CaviarDreams.ttf);
}

@font-face {
  font-family: CaviarDreamBold;
  src: url(../assets/fonts/caviar_dreams/CaviarDreams_Bold.ttf);
}

.block__border-dashed {
  border: 2px solid rebeccapurple;
  border-style: dashed;
}

.block__border-hide {
  border: 0px;
}

.block__border-show {
  border: 2px;
}

.block__border-graylight {
  border: 1px solid lightgray;
}

.nav-header__dropdown-right {
  right: 0px;
  left: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: CaviarDream;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.main-content__structure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.main-content__body-section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main-content__sidebar {
  height: 100%;
  width: 80px;
  min-width: 80px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
}

#main-content__sidebar ul li a {
  text-align: left;
  width: 80px;
  min-width: 80px;
}

#main-content__sidebar i.arrow-toggle {
  display: block;
  position: relative;
  left: 50%;
  overflow: hidden;
}

#main-content__sidebar #div-sidebar-collapser {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 1rem;
}

#main-content__sidebar.active {
  width: 0px;
  min-width: 0px;
}

#main-content__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: calc(100% - 80px);
  min-width: calc(100% - 80px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#main-content__article #btn-sidebar-toogle {
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#main-content__article.active {
  width: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

@media only screen and (min-width: 992px) {
  .main-content__body-section {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #main-content__sidebar {
    height: 100%;
    width: 200px;
    min-width: 200px;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #main-content__sidebar i.arrow-toggle {
    display: inline;
    right: 10px;
  }
  #main-content__sidebar ul li a {
    width: 100%;
  }
  #main-content__sidebar.active {
    width: 80px;
    min-width: 80px;
  }
  #main-content__sidebar.active ul li a {
    width: 80px;
    min-width: 80px;
  }
  #main-content__sidebar.active i.arrow-toggle {
    display: block;
    position: relative;
    left: 50%;
    overflow: hidden;
  }
  #main-content__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: calc(100% - 200px);
    min-width: calc(100% - 200px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #main-content__article #btn-sidebar-toogle {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  #main-content__article.active {
    width: calc(100% - 80px);
    min-width: calc(100% - 80px);
  }
}
/*# sourceMappingURL=dashboard_theme.css.map */