@font-face {
  font-family: CaviarDream;
  src: url(../assets/fonts/caviar_dreams/CaviarDreams.ttf);
}

@font-face {
  font-family: CaviarDreamBold;
  src: url(../assets/fonts/caviar_dreams/CaviarDreams_Bold.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: CaviarDream;
}

.block__border-dashed {
  border: 2px solid rebeccapurple;
  border-style: dashed;
}

.block__border-hide {
  border: 0px;
}

.block__border-show {
  border: 2px;
}

.block__border-graylight {
  border: 1px solid lightgray;
}

*[border-dashed="true"] {
  border: 2px solid rgba(203, 0, 222, 0.961);
}

*[border-dashed="true"]--dashed {
  border: 2px solid rgba(203, 0, 222, 0.961);
  border-style: dashed;
}

.nav-header__dropdown-right {
  right: 0px;
  left: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 16px;
  font-family: CaviarDream;
}

header {
  height: 60px;
}

.section-text_title {
  font-size: 2rem;
  font-family: CaviarDreamBold;
}

.section-text_sub-title {
  font-size: 1.3rem;
  font-family: CaviarDreamBold;
}

.section-text_sub-title-two {
  font-size: 1rem;
  font-family: CaviarDreamBold;
}

.main-content__body-section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-content__sidebar {
  height: 60px;
  width: 100%;
}

#main-content__sidebar--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content__sidebar #btn-sidebar-collapser {
  display: none;
}

#main-content__article {
  width: 100%;
  height: 100%;
}

footer {
  height: 60px;
}

footer--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__subtitle-line {
  width: 5rem;
  border: 1px solid rgba(83, 0, 91, 0.961);
  margin: 10px 0px;
}

.bg-primary {
  background-color: rgba(203, 0, 222, 0.961) !important;
}

@media only screen and (min-width: 768px) {
  img.header-content__picture {
    position: absolute;
    top: 15%;
    height: 70%;
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (min-width: 992px) {
  .main-content__body-section {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #main-content__article {
    width: 100%;
  }
  img.header-content__picture {
    height: 90%;
    top: 0;
  }
}
/*# sourceMappingURL=profile_theme.css.map */