@import 'fonts';
@import 'variables';
@import 'utils';
$fontDescriptionColor: black;
$fontTitleColor: red;
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: $caviarDream;
}

header {
    @include content-center();
    height: 60px;
}

.main-content__structure {
    display: flex;
    flex-direction: column;
    height: 100vh;
    // background-color: yellow;
}

.main-content__body-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

nav {
    @include content-center();
    // height: 100%;
    height: 60px;
    width: 100%;
    #btn-sidebar-collapser {
        display: none;
    }
}

article {
    @include content-center();
    width: 100%;
    height: 100%
}

footer {
    @include content-center();
    height: 60px;
}

// #btn-sidebar-collapser{
//     position: absolute;
//     top: 1rem;
//     right: 1rem;
// }
// first mobile
@media only screen and (min-width: $phoneSize) {
    body {
        // background-color: lightblue;
    }
    // .flex-container {
    //     flex-direction: column;
    // }
}

@media only screen and (min-width: $tabletSize) {
    body {
        // background-color: yellow;
    }
}

@media only screen and (min-width: $desktopSize) {
    body {
        // background-color: rgb(106, 103, 255);
    }
    .main-content__body-section {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
    }
    nav {
        @include content-center();
        height: 100%;
        width: 20%;
        position: relative;
        transition: all 0.3s;
        #btn-sidebar-collapser {
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
        &.active{
            margin-left: -20%;
        }
    }
    article {
        @include content-center();
        width: 80%;
        transition: all 0.3s;
        &.active{
            width: 100%;
        }
    }
}