@font-face {
    font-family: CaviarDream;
    // src: url(../assets/fonts/caviar_dreams/CaviarDreams.ttf);
}
        
@font-face {
    font-family: CaviarDreamBold;
    // src: url(../assets/fonts/caviar_dreams/CaviarDreams_Bold.ttf);
}

$caviarDream: CaviarDream;
$caviarDreamBold: CaviarDreamBold;
